%h2= @task.name
.details
  Estimation:
  = @task.time
  %br
  Current time:
  = @task.current_time
  %br
  = link_to "Create report", new_task_report_url(@task) unless @task.finished
  %br
  = @task.finished ? "Finished" : button_to("finish task", finish_task_url(@task), :method => :post)
.reports
  - for report in @task.reports
    .report_details
      = "#{report.time} reported at #{report.created_at}"
      = button_to "Delete report", task_report_url(@task, report), :method => :delete, :confirm => "Are you sure?"
